div{
	background-color: #ffff;
	height: 100px;
	width: 100px;
	display: inline-block;
}
h1{
    font-size:1em;
    text-decoration:none;
    position:auto;
    text-align:center;
    color:darkolivegreen;
    font-family: cursive
    border:5px solid black;
}
img{
    vertical-align: middle;
    align-items: center
	background-color:#B77843;
	width:1024px;
	border:5px solid black;
	border-radius:5px;
}
header{
    width:100%;
    height:10%;
    background-color: azure;
    background-image: ../Resources/camo.jpg;
    position: fixed;
    border-radius: 4px;
}
middle{
    background-color: darkkhaki;
    width:100%;
    height:1000%;
    float:right;
}
footer{
    background-color: darkolivegreen;
    width:100%;
    height 10%;
    border-radius: 4px;
    clear: both;
    /*margin-bottom: 5px;*/
}