div{
	background-color: #ffff;
	height: 100px;
	width: 100px;
	display: inline-block;
}
h1{
    font-size:1em;
    text-decoration:none;
    position:auto;
    text-align:center;
    color:darkolivegreen;
    font-family: cursive
    border:5px solid black;
}
img{
	background-color:#B77843;
	width:1024px;
	border:5px solid black;
	border-radius:5px;
}
